<%- include('./partials/header') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h2>StoicWisdom: A Wiki</h2>
</head>
<body>

<p>StoicWisdom is a web application designed to inspire and empower users with the timeless wisdom of Stoicism. 
<br> 
</p>

<p>Drawing from the teachings of ancient Stoic philosophers, our app offers a curated collection of insightful quotes that can guide you towards a more fulfilling and resilient life.
<br> 
</p>

<p>Stoicism is an ancient philosophical school that emerged in Greece and later gained prominence in Rome.
<br> 
</p>

<p>It centers around the idea of cultivating inner tranquility and contentment by focusing on what one can control and accepting what one cannot.
<br> 
</p>

<p>At the heart of Stoicism is the pursuit of virtue and wisdom, urging individuals to develop qualities like courage, justice, and self-discipline to achieve a state of eudaimonia, or flourishing. By practicing negative visualization, where potential hardships are mentally rehearsed, Stoics aim to foster gratitude for what they have and reduce attachment to external circumstances.
<br> 
</p>

<p>Stoicism's enduring appeal lies in its practicality and adaptability, offering valuable insights into resilience, emotional regulation, and a meaningful way of life.
<br> 
</p>

</body>
</html>
<%- include('./partials/footer') %>
