<%- include('../partials/header') %>

<form id="new-form" action="/quotes" method="POST">
  <label>QUOTE:</label>
  <input type="quo" name="quote">
  <label>PHILOSOPHER:</label>
  <input type="text" name="philosopher">
  <label>INTERPRETATION:</label>
  <input type="text" name="interpretation">
  <input type="submit" value="ADD WISDOM">
</form>

<%- include('../partials/footer') %>
