<%- include('../partials/header') %>

<form id="new-form" action="/quotes" method="POST">
  <label>Quote</label>
  <input type="quo" name="quote">
  <label>Philosopher:</label>
  <input type="text" name="philosopher">
  <label>Quote</label>
  <input type="submit" value="Add Quote">
</form>

<%- include('../partials/footer') %>
